In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Ice Cream Sales - temperatures.csv")

In [4]:
dataset

     Temperature  Ice Cream Profits
0             39              13.17
1             40              11.88
2             41              18.82
3             42              18.65
4             43              17.02
..           ...                ...
360           99              85.13
361           99              87.08
362           99              89.29
363          101              81.91
364          101              85.02

[365 rows x 2 columns]

In [8]:
independent=dataset[['Temperature']]
independent

     Temperature
0             39
1             40
2             41
3             42
4             43
..           ...
360           99
361           99
362           99
363          101
364          101

[365 rows x 1 columns]

In [9]:
dependent=dataset[['Ice Cream Profits']]
dependent

     Ice Cream Profits
0                13.17
1                11.88
2                18.82
3                18.65
4                17.02
..                 ...
360              85.13
361              87.08
362              89.29
363              81.91
364              85.02

[365 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [16]:
#procedure
from sklearn.linear_model import LinearRegression
regressor= LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [19]:
weight=regressor.coef_
weight

array([[1.18907138]])

In [21]:
bias=regressor.intercept_
bias

array([-33.47033199])

In [22]:
y_pred=regressor.predict(x_test)

In [23]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.9755985166190815

In [24]:
#save the model
import pickle
filename="1st_Project_Temp&icecream.sav"

In [26]:
pickle.dump(regressor,open(filename,'wb'))

In [34]:
loaded_model=pickle.load(open("1st_Project_Temp&icecream.sav",'rb'))
result=loaded_model.predict([[103]])
print(result)

[[89.00402045]]

C:\Users\lakshmipriya\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(